# OS files
.DS_Store
Thumbs.db

# Virtual Environment & Python
venv/
__pycache__/
*.pyc

# extra
codebase.json
cookies.txt
credentials.json
current_structure.png
playlists.csv
project_map.md
token.json
UI-code.xml
visualize_all.py
.DS_Store
.env
.DS_Store
legacy.xml
youtube_metadata_cache.json
api_key_state.json
timetable_cache.json
backup_to_notion.py
generate_scripted_pdf.py
service/notion_backup_service.py
scratch/